body {
    background-color: #E0B0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#buttons {
    display: flex;
}

.btn {
    background-color: #6A1B9A;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.stop {
    background-color: #6A1B9A; 
}